body {
	font-family:verdana, sans-serif, tahoma;
	font-size:12px;
	font-weight:normal;
	color:#000;
	background:#f3f3f3;
	margin:0;
}

blockquote {
	margin-bottom:9px;
	margin-left:10px;
	margin-top:4px;
	padding:0
}

fieldset {
	margin:0;
	padding:10px;
	border:1px solid #898989;
	position:relative;
}

strong {
	color:#333;
}

legend {
	padding:4px;
	font-weight:bold;
	color:#333;
}

img {
	vertical-align:middle;
}

a, a:link, a strong {
	color:#004f92;
	text-decoration:none;
}

a:visited {
	color: #004f92;
	text-decoration:none;
}

a:hover, a:hover strong {
	text-decoration: underline;
	color: #004f92;
}

a:active, a:active strong {
	text-decoration: none;
	color: #004f92;
}

.stdrepack, .stdrepack:link, .stdrepack:visited, .stdrepack:visited, .stdrepack:hover, .stdrepack:hover strong, .stdrepack:active, .stdrepack strong {
	color:#0C6131;	
}

.hdrepack, .hdrepack:link, .hdrepack:visited, .hdrepack:visited, .hdrepack:hover, .hdrepack:hover strong, .hdrepack:active, .hdrepack strong {
	color:#4A610C;
}

.hd, .hd:link, .hd:visited, .hd:visited, .hd:hover, .hd:hover strong, .hd:active, .hd strong {
	color:#0A5B67;
}

.std, .std:link, .std:visited, .std:visited, .std:hover, .std:hover strong, .std:active strong, .std:active, .std strong {
	color:#0E3192;
}

/*------*/

* {
	outline:none;
}

#container {
	margin:0 auto 0 auto;
	width:950px;
	padding-left:10px;
	padding-right:10px;
	background:#fff;
}

#sticky {
	background:#fff;
	height:41px;
	margin-top:5px;
}

#sticky #usertext {
	line-height:37px;
	color:#333;
	margin-left:15px;
	margin-right:15px;
	height:16px;
	font-size:13px;
}

#sticky #usertext a {
	color:#333;
}

#sticky #usertext a:hover, #sticky #usertext a:selected, #sticky #usertext a:active {
	color:#333;
	text-decoration:underline;
}

#sticky #usertext .pad {
	padding-left:22px;
	margin-right:15px;
}

/*#sticky #usertext .tpad {
	margin-right:50px;
}*/

#sticky #usertext .userlogin { background:url(icons2/lock-unlock.png) no-repeat; font-weight:bold; }
#sticky #usertext .userregister { background:url(icons2/overlay/users--plus.png) no-repeat; font-weight:bold; }
#sticky #usertext .userblog { background:url(icons2/blog-blue.png) no-repeat; font-weight:bold; }
#sticky #usertext .userprofile { background:url(icons2/pencil.png) no-repeat; font-weight:bold; }
#sticky #usertext .userfeeds { background:url(icons2/feed.png) no-repeat; font-weight:bold; }
#sticky #usertext .usershows { background:url(icons2/television.png) no-repeat; font-weight:bold; }
#sticky #usertext .userschedule { background:url(icons2/calendar-list.png) no-repeat; font-weight:bold; }
#sticky #usertext .userbrowse { background:url(icons2/table.png) no-repeat; font-weight:bold; }
#sticky #usertext .usercommunity { background:url(icons2/globe-green.png) no-repeat; font-weight:bold; }
#sticky #usertext .userhelp { background:url(icons2/information-balloon.png) no-repeat; font-weight:bold; }
#sticky #usertext .userdonate { background:url(icons2/money.png) no-repeat; font-weight:bold; }
#sticky #usertext .userlogout { background:url(icons2/cross.png) no-repeat; font-weight:bold; }

.checkbox_marked {
	background:url(icons2/ui-check-box.png) no-repeat;
	padding-left:14px;
	text-indent:-10000px;
	overflow:hidden;
	display:block;
	float:left;
	margin-right:3px;
	margin-top:-1px;
}

.checkbox_off {
	background:url(icons2/ui-check-box-uncheck.png) no-repeat;
	padding-left:14px;
	text-indent:-10000px;
	overflow:hidden;
	float:left;
	display:block;
	margin-right:3px;
	margin-top:-1px;
}

#logo {
	padding-top:15px;
	padding-bottom:15px;
	background:#fff;
	border-bottom:1px solid #dcdcdc;
}

#webpage {
	margin:0;
	min-height:50px;
	background:white;
	padding:10px;
	border-top:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
}

#bottom {
	height:32px;
}

#bottomtext {
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	line-height:32px;
	font-size:11px;
	padding-left:20px;
	padding-right:20px;
}

.clear {
	clear:both;
	height:1px;
	margin-top:3px;
	margin-bottom:3px;
}

.color {
	border-top:1px solid #f3f3f3;
	margin-top:4px;
	margin-bottom:4px;
}

.morecolor {
	border-top:1px solid #cdcdcd;
	margin-top:10px;
	margin-bottom:10px;
	
}

.tabber {
	width:200px;
	float:left;
	padding-bottom:2px;
}

.tinput {
	line-height:20px;
}

.btabber {
	width:300px;
	float:left;
}

.texter {
	width:250px;
}

.tabber_left {
	float:left;
}

.tabber small {
	font-weight:bold;
}

.helper {
	margin:3px;
	padding:4px;
	background:#e1e1e1;
}

.helper strong {
	font-weight:bold;
	color:#333;
}

.midbox {
	background-color: #f5f9f6;
	padding:5px;
	margin:5px;
	float:right;
	text-align:right;
}


.normalmidbox {
	background-color: #f5f9f6;
	padding:5px;
	margin:5px;
}

.statbox {
	width:510px;
	text-align:center;
	margin-top:25px;
	margin-right:10px;
}

.userbox {
	margin-top:10px;
	width:310px;
	line-height:20px;
}

.pagebox {
	margin:15px;
	width:95%;
	text-align:center;
	margin:0 auto;
	clear:both;
	margin-bottom:10px;
}

.rss_teaser {
	border-bottom:1px solid #f3f3f3;
	padding:5px;
}

.rss_teaser .icon {
	color:#333;
	background:url(icons2/feed.png) no-repeat top left;
	padding-left:23px;
	float:left;
	padding-top:1px;
	width:180px
}

.ajaxloading {
	background:url(/static/bar.gif) no-repeat center;
	height:100%;
	width:100%;
}

.shows_admin {
	border-bottom:1px solid #f3f3f3;
	padding:5px;
	padding-bottom:8px;
}

#shows_block {
	padding:5px;
	min-height:30px;
}

.showentry {
	margin-bottom:3px;
}

#show_timeline {
	float:right;
	width:700px;
	margin-top:5px;
	padding:5px;
}

#latestshows {
	margin:5px;
	padding:5px;
	width:380px;
	float:left;
}

#updatedshows {
	margin:5px;
	padding:5px;
	width:380px;
	float:right;
}

blockquote {
	margin-left:10px;
}

#theline {
	border-top:1px solid #d6d6d6;
	clear:both;
}

.infocase {
	float:right;
}

#pad-home {
	padding:10px;
}

#pad-home img {
	float:left;
	padding-right:15px;
}

#pad-home .title, #pad-home .title a {
	color:#333;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
}

#pad-home .title a:hover {
	text-decoration: underline;
}

#pad-home .text {
	padding-left:2px;
	padding-top:3px;
}

#nextsteps {
	margin-bottom:5px;
	padding:5px;
	font-weight:bold;
	color:#333;
	font-size:16px;
	border-bottom:1px solid #f3f3f3;
}

.questionbox {
	margin:0 auto 0 auto;
	padding:10px;
	width:90%;
	background:#f3f3f3;
	margin-top:15px;
}

.faq {
	margin-bottom:10px;
}

.faq .faq_q {
	border-bottom:1px solid #d5d5d5;
	padding:3px;
	font-size:14px;
	font-weight:bold;
	color:#333;
}

.faq .faq_a {
	padding:3px;
	margin-top:2px;
}

#load_wait {
	text-align:center;
	margin-top:50px;
	margin-bottom:50px;
} 

#load_wait img {
	border:0;
}

#showsearch {
	width:300px;
}

.blogpost {
	border-bottom:1px solid #cecece;
	margin-bottom:10px;
}

.blogpost .blogtitle {
	font-weight:bold;
	font-size:18px;
	margin-bottom:5px;
	color:#333;
}

.blogpost .blogtitle span {
	padding-bottom:4px;
	border-bottom:1px solid #f3f3f3;
	display:block;
	width:100%;
}

.blogpad {
	padding:10px;
}

.blogpad textarea {
	width:400px;
	height:100px;
}

.blogpost .blogtext {
	margin-top:10px;
}

.blogpost .bloglinks {
	border-top:1px solid #f3f3f3;
	padding-top:10px;
	margin-top:15px;
	margin-bottom:15px;
}

.blogheader {
	border-bottom:1px solid #f3f3f3;
	font-weight:bold;
	font-size:15px;
	margin-bottom:5px;
	color:#333;
	padding-bottom:5px;
	margin-top:10px;
}

.blogcomment {
	border:1px solid #cecece;
	background:#f3f3f3;
	padding:5px;
	margin-bottom:10px;
}

.blogcomment .blogcommentheadername {
	font-weight:bold;
	float:left;
}

.blogcomment .blogcommentheaderdate {
	float:right;
}

.blogcomment .blogcommentheader {
	clear:both;
	height:20px;
	border-bottom:1px solid #cecece;
	margin-bottom:3px;
}

.blogcomment .blogcommenttext {
	clear:both;
	display:block;
}

#bottomlinks {
	padding-left:20px;
	padding-top:10px;
	padding-right:20px;
	border-top:1px solid #f3f3f3;
	padding-bottom:20px;
}

/* tabs */

body#tab1 li.tab1 a,body#tab2 li.tab2 a,body#tab3 li.tab3 a,body#tab4 li.tab4 a,body#tab5 li.tab5 a {
	background-color:#fff;
	color:#000;
	padding-top:4px;
	position:relative;
	top:1px;
}

body#tab1 li.tab1,body#tab2 li.tab2,body#tab3 li.tab3,body#tab4 li.tab4,body#tab5 li.tab5 {
	background-color:#fff;
	border-bottom:1px solid #fff;
}

ul#tabnav {
	border-bottom:1px solid #333;
	font:bold 11px verdana, arial, sans-serif;
	list-style-type:none;
	margin:0 0 1em;
	padding:3px 10px;
	text-align:left;
}

ul#tabnav a:hover {
	background:#fff;
}

ul#tabnav li {
	display:inline;
	margin-right:5px
}

ul#tabnav li a {
	background-color:#f3f3f3;
	border:1px solid #333;
	border-bottom:none;
	color:#666;
	margin-right:0;
	padding:3px 4px;
	text-decoration:none;
}



/* links */

.ulblock {width:100%;list-style:none;margin:0;padding:0}
.libigel {margin:0;clear:none;float:left;padding:0;width:270px;display:block;}
.lililel {margin:0;clear:none;float:left;padding:0;width:100px;display:block;}